.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-button {
  font-size: 1.2rem;
  color: var(--text-dim);
  transition: 0.2s;
  padding: 0 1.1em;
  text-decoration: none;
}

.menu-button:hover {
  color: var(--text);
}

.divider {
  height: 2.5rem;
  border-left: 1px solid var(--text-dim);
}

.icon-wrapper {
  display: flex;
  align-items: center;
}

.icon {
  width: 1.5em;
}

@media screen and (max-width: 768px) {
  .menu {
    width: 100%;
    justify-content: space-between;
    margin-top: 1em;
  }

  .menu-button {
    font-size: 1rem;
    transition: 0.2s;
    padding: 0;
    text-decoration: none;
  }
}
