:root {
  --text: #222;
  --text-dim: #444;
  --primary: #EAE5D8;
  --accent: #FFE5F6;

  --background: #ffffff;
  --shadow: #44444477;
  --basic-font: 'Libre Baskerville', serif;
}

body {
  background-color: var(--background);
  margin: 0;
  padding: 0;
  color: var(--text);
  font-family: var(--basic-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.content-wrapper {
  max-width: 1000px;
  margin: 0 auto;
}